/* Global styles */

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
}

body {
    background: radial-gradient(121.98% 156.84% at 0.59% 0.95%, #346887 0%, #221E42 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    color: #3585BF;
    text-decoration: inherit;
}

img,
video {
    max-width: 100%;
    height: auto;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
}

p {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

h3,
p {
    line-height: 30px;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0;
}

h3 {
    font-size: 26px;
    letter-spacing: -.165px;
    color: #aadbff;
}

.footer,
h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.ml-2 {
    margin-left: 0.5rem;
}

.ml-6 {
    margin-left: 1.5rem;
}

.mr-8 {
    margin-right: 2rem;
}

.mr-11 {
    margin-right: 2.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-5 {
    margin-top: 1.25rem;
}

.mt-11 {
    margin-top: 2.75rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.float-left {
    float: left;
}

.relative {
    position: relative;
}


/*End global styles */

.main-container {
    width: 100%;
}

.connect-button-positioner {
    float: right;
    margin-top: -15px;
    margin-right: 10px;
}

span.connect-button-positioner button.wallet-adapter-button.wallet-adapter-button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    height: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.41px;
    color: #FFFFFF;
    background-color: unset;
}

button.connect-wallet {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.41px;
    color: #3585BF;
    background: #FFFFFF;
    border-radius: 50px;
    padding: 14px 56px;
    margin-left: auto;
    margin-right: auto;
}

.wallet-adapter-button {
    background-color: #404144;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}

.wallet-adapter-button-end-icon,
.wallet-adapter-button-start-icon,
.wallet-adapter-button-end-icon img,
.wallet-adapter-button-start-icon img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.wallet-adapter-button-start-icon {
    margin-right: 8px;
}

.main-logo-positioner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
    width: 450px;
    height: 50px;
}

.ignite-status-panel-light-blue-font,
.ignite-status-panel-white-font {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -.41px;
}

.ignite-status-panel-light-blue-font {
    color: #aadbff;
}

.wallet-connection-panel {
    width: 450px;
    height: 637px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background: #b4abff;
    background: linear-gradient( 90deg, rgba(180, 171, 255, .09) -121.39%, rgba(160, 152, 220, .09) 122.57%);
    border-radius: 32px;
}

.wallet-connection-image {
    width: 211px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.wallet-connection-description {
    width: 371px;
    margin-left: auto;
    margin-right: auto;
}

.wallet-connection-subdescription {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.95rem;
    line-height: 25px;
}

.wallet-connection-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.bottom-panel {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    height: 170px;
}

.store-buttons-panel {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 300px;
    padding: 10px;
    display: flex;
}

.form-checkbox {
    color: #fff;
}

.form-checkbox input[type=checkbox] {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    padding: 10px;
    margin-right: 10px;
}